@using AspNet_FirstLesson.ViewModels;
@model EditViewModel
@{
    ViewBag.Title = "EditUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/AddForm.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <div><h1>Редактирование</h1></div>
        <form action="~/AdminPanel/EditUser" method="post">
            <input type="text" name="Id" value="@Model.Id" placeholder="Введите Id" /><br />
            <input type="text" name="UserName" value="@Model.UserName" placeholder="Введите имя" /><br />
            <input type="text" name="Email" value="@Model.Email" placeholder="Введите имя" /><br />
            <input type="text" name="Country" value="@Model.Country" placeholder="Введите страну проживания"><br />
            <input type="date" name="BirthDate" value="@Model.BirthDate"><br />
            <span name="RoleId" class="custom-dropdown big">
                <select name="RoleId">
                    @foreach (var i in ViewBag.Roles)
                    {
                        if (Model.RoleId == i.Id)
                        {
                            <option selected value="@i.Id">@i.Name</option>
                        }
                        else
                        {
                            <option value="@i.Id">@i.Name</option>
                        }
                    }
                </select>
            </span><br />
            <button type="submit">Отредактировать</button><br />
        </form>
    </div>
</body>
</html>
